.bg-fl{
    background: #a1c4fd;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);;

}


.button{
    width: 100px;
    height: 25px;
}

.button:hover{
    
    cursor: pointer;
    transition: all 0.5s;
    color: blue;
}


.nav-gr{
    background: #a1c4fd;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}