@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  background-color: radial-gradient(circle farthest-corner at 10% 20%, rgb(97, 186, 255) 0%, rgb(166, 239, 253) 90.1%);
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navBar img {
  width: 70px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.navBar ul {
  display: flex;
}

.navBar ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  font-family: "Maven Pro", sans-serif;
  margin-top: 25px;
  margin-right: 20px;
}

.tittle {
  font-size: 2.2rem;
  color: black;
}

.secondNav {
  color: black;
  padding: 10px 30px;
  font-size: 2.2rem;
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementAside {
  display: flex;
  /*flex-direction: row;
  justify-content: space-around;*/
  margin: 10px;
  padding: 10px;
}

.separador {
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.textCenter {
  text-align: center;
  color: black;
  /*background-color: rgba(109, 126, 223, 0.7);*/
  font-family: "Maven Pro", sans-serif;
  font-size: 3.5rem;
  line-height: 3.2rem;
  font-weight: 400;
  padding: 10px;
  margin: 0px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  justify-content: space-between;
}

.img {
  display: flex;
  width: 50px;
  height: 100px;
  border: 1px solid black;
  /*align-items: center;*/
  justify-content: center;
}

.img-sm {
  padding: 0px;
  margin: 100px;
  width: 60%;
  height: 350px;
  display: flex;
  justify-content: center;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#productos .galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#productos .galeria figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#productos .galeria figure img {
  width: 60%;
  height: 350px;
  display: flex;
  justify-content: center;
}

#productos .galeria figure figcaption {
  font-size: 2.2rem;
  padding: 10px 0;
  background-color: white;
  text-align: center;
}

#productos .galeria p.price {
  color: #676565;
  padding-bottom: 10px;
  background-color: white;
  text-align: center;
}

#productos .galeria a {
  display: flex;
  width: auto;
  justify-content: center;
}

.centrado {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.fontS {
  font-size: 1.5rem;
}

.pie-rgstro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  margin-top: 150px;
  margin-bottom: 400px;
}

.us {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 55px;
  height: 55px;
  margin: 10px;
  flex-direction: row;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.map-responsive {
  overflow: hidden;
  margin-top: 40px;
  position: relative;
  height: 500px;
  width: auto;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin: auto;*/
}

.legal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */