// posicion centro de página
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.textCenter{
    text-align: center;
    color: black;
    /*background-color: rgba(109, 126, 223, 0.7);*/
    font-family: 'Maven Pro', sans-serif;
    font-size: $fontLg;
    line-height: 3.2rem;
    font-weight: 400;
    padding: 10px;
    margin: 0px;
}


.text-left{
    text-align: left;
}



.text-right{
    text-align: right;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;

}

.img{
    display: flex;
    width: 50px;
    height: 100px;
    border: 1px solid black;
    /*align-items: center;*/
    justify-content: center;
}
.img-sm{
    padding: 0px;
    margin: 100px;
    width: 60%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.cardText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $fontMd;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}


#productos .galeria{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    #productos .galeria figure{
     display: flex;
     flex-direction: column;
     justify-content: center;
     }
         #productos .galeria figure img{
            width: 60%;
            height: 350px;
            display: flex;
            justify-content: center;
        }
    
    
            #productos .galeria figure figcaption{
                font-size: $fontMd;
                padding: 10px 0;
                background-color: white;
                text-align: center;
            }
    
            #productos .galeria p.price{
                color: #676565;
                padding-bottom: 10px;
                background-color: white;
                text-align: center;
            }

            #productos .galeria a{
                display: flex;
                width: auto;
                justify-content: center;
                
            }

