// posicion centro de página
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.textCenter{
    text-align: center;
    color: black;
    /*background-color: rgba(109, 126, 223, 0.7);*/
    font-family: 'Maven Pro', sans-serif;
    font-size: $fontLg;
    line-height: 3.2rem;
    font-weight: 400;
    padding: 10px;
    margin: 0px;
}


.text-left{
    text-align: left;
}



.text-right{
    text-align: right;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;

}
