
.centrado{
    display: flex;
    justify-content: center;
    font-size: $fontMd;
}

.fontS{
    font-size: $fontSm;

}

.pie-rgstro{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 150px;
    margin-bottom: 400px;
}
.us{
    display: flex;
    flex-direction: row;
    
}
.icon{
    width: 55px;
    height: 55px;
    margin: 10px;
    flex-direction: row;
}


.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;

}

.map-responsive{
    overflow:hidden;
    margin-top: 20px;
    position:relative;
    height: 500px;
    width: auto;
}