
@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 15vw 85vw;
        grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"nav nav"
		"header header" 
		"productos productos"
        "aside aside"
		"footer footer";
	}
 	

	#productos .galeria{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#productos .galeria img{
		width: 80%;
	}


	
	#aside{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
		#aside .elementAside{
			display: flex;
			flex-direction: column;
			justify-content: space-around;

		}

	#footer ul{
		display: flex;
		flex-direction: row;
	}
}


@media (min-width: 1024px){
	
	.contenedor{
		
		display: grid;
		grid-template-columns: 15vw 85vw;
        grid-template-rows: repeat(4, auto);
		grid-template-areas: 
		"nav nav nav" 
		"header header header" 
		"aside productos productos" 
		"footer footer footer";
	}
    
	
	#aside{
        display: flex;
		flex-direction: column;
		align-content: center;
        justify-content: center;
	}
	#productos .galeria{
		flex-direction: row;
		justify-content: space-around;
	}

	
	#productos .galeria img{
		width: 70%;
	}

	.navBar{
		flex-direction: row;
		justify-content: space-between;
	}
	#footer ul{
		display: flex;
		flex-direction: row;
	}
}


@media (min-width: 1200px){

	
	#productos .galeria{
		flex-direction: row;
		justify-content: space-around;
	}

	
		#productos .galeria img{
			width: 65%;
		}

}