/* ======================= media queries INDEX ======================= */

/* min-width: 768px definimos 2cols (30VW - 70VW) y 5 rows auto */
@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 30vw 70vw;
		grid-template-areas: 
		"nav nav"
		"header header" 
		"productos aside" 
		"footer footer";
	}

 	
 /* los productos van apilados */
	#productos .galeria{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* reducimos el width de las figure a 90%*/


	/*aside queda abajo de los productos dirección horizontal*/
	#aside{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
		#aside .elementAside{
			display: flex;
			flex-direction: column;
			justify-content: space-around;

		}
}

/* min-width: 1024px defino 3 cols con medidas 20vw 70vw 10vw*/
@media (min-width: 1024px){
	
	.contenedor{
		display: grid;
		grid-template-columns: 20vw 70vw 10vw;
        grid-template-rows: auto;
		grid-template-areas: 
		"nav nav nav" 
		"header header header" 
		"aside productos productos" 
		"footer footer footer";
	}
    .logo ul{
        display: flex; 
        flex-direction: row;
    }
	/* cambio la dirección del aside a columna ahora flota a la derecha*/
	#aside{
        display: flex;
		flex-direction: column;
		align-content: flex-start;
        justify-content: flex-start;
	}

	/* llevo al 80% el width de los productos*/
	#productos .galeria figure{
		width: 80%;
	}

	/* cambio la dirección de la botonera a row*/
	.navBar{
		flex-direction: row;
		justify-content: space-between;
	}

	/*sacamos el margin bottom 0 al logo*/
		.botonera img{
			margin-bottom: 0;
		}
}

/* min-width: 1200px cambio la dirección de la gale de productos a row*/
@media (min-width: 1200px){
	
	#productos .galeria{
		flex-direction: row;
		justify-content: space-around;
	}

	/*achico el width de los productos al 30%*/
		#productos .galeria figure{
			width: 30%;
		}

}