@mixin flex($direccion, $justify, $align){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
}

.products{
    @include flex(column, center, center);
}

.legal{
    @include flex(row, center, center);
    font-size: 1.5rem;
    text-decoration: none;

}