@mixin flex($direccion, $justify, $align){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
}

.products{
    @include flex(column, center, center);
    /*margin: auto;*/
}